<div>
  <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
    <div class="container">
      <a class="navbar-brand" href="#">Fotobook</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Photo/Album" aria-label="Search">
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" >
          <li lass="nav-item "> 
            <img src="/assets/img0.jpg" class="rounded-circle" alt="icon-acount"></li>
            <li class="nav-item active">
              <a class="nav-link scroll-link" href="#">Tai-Anh</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link text-light" href="#@@"></a>
              
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

<div class="container-fluid text-center">
 <div class="row content">
  <div class="col-lg-2 col-2 col-sm-2 col-xl-2" >
  </div>
  <div class="col-lg-8 col-8">
    <div class="row">
      <div class="col-lg-12">  <h1 class="text-center login-title text-primary  d-inline-flex p-2 " >Fotobook Login</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-lg-2 col-2"></div>
            <div class="col-sm-12 col-lg-8 col-12 logos d-inline-flex p-0">

              <img class="logo-social rounded-circle" src="/assets/gg1.png">
              <img class="logo-social rounded-circle" src="/assets/fb.png">
              <img  class="logo-social rounded-circle" src="/assets/tw.png">


            </div>

            <div class="col-sm-2 col-lg-2 col-md-2 col-md-offset-2"></div>

          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-2"></div>
      <div class="col-lg-8 col-8">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-lg-2 col-md-2 col-md-offset-2"></div>
            <div class="col-sm-12 col-lg-8  col-md-8 col-12 ">

              <div class="account-wall">
                <img src="/assets/block.png" class="rounded-circle1" >
                <p id=”alert”><%= alert %></p>
                <%= form_tag sessions_path do |form| %>
                <div class="field form-control" >
                  <%= label_tag :email  %>
                  <%= text_field_tag :email %>
                </div>
                <div class="field form-control" >
                  <%= label_tag :password %>
                  <%= password_field_tag :password %>
                </div>
                <div class="actions btn btn-lg btn-primary btn-block "type="submit" > 
                  <%= submit_tag 'Login' %>
                </div>
                <% end %>
               <!--  <form class="form-signin">
                  <input type="text" class="form-control" placeholder="Email" required autofocus>
                  <input type="password" class="form-control" placeholder="Password" required>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">
                  Sign in</button>
                  <div class="btn1">
                    <a href="#" >Forgot password?</a> 
                  </div>
                </form> -->
              </div>
              <a href="#" class="text-center new-account">Create an account </a>
            </div>
          </div>
        </div></div>
        <div class="col-sm-2 col-lg-2 col-md-2 col-md-offset-2"></div>
      </div>
    </div>


    <div class="col-md-2" ></div>
  </div>

</div>



